{% extends 'shared/_layout.html' %}

{% block title %}فراموشی رمزعبور{% endblock %}

{% block body %}
    <div class="container style" id="style">
        <div class="form-container sign-in-container style">
            <form method="post" action="{% url 'forget_password_page' %}" id="style1">
                <h1 id="style2">فراموشی رمزعبور</h1>
                {% csrf_token %}

                {{ forget_password_form.phone_number }}
                {{ forget_password_form.errors }}

                <button type="submit" class="go">ثبت</button>
            </form>
        </div>
        <div class="overlay-container style">
            <div class="overlay style">
                <div class="overlay-panel overlay-right style">
                    <h1 id="style2">!خوش آمدید</h1>
                    <p id="style5">شماره تلفن خود را وارد کنید تا پیامک تایید برای شما ارسال شود</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}