{% extends 'shared/_layout.html' %}
{% load poll_extras %}

{% block title %}سبد خرید{% endblock %}


{% block body %}
    <br>
    {% if cart %}
        <div class="container" dir="rtl">
            <table class="table table-striped table-hover table table-bordered">
                <thead>
                <tr>
                    <th scope="col">شماره</th>
                    <th scope="col">نام کالا</th>
                    <th scope="col">وزن</th>
                    <th scope="col">قیمت واحد</th>
                    <th scope="col">قیمت کل</th>
                    <th scope="col">حذف</th>
                </tr>
                </thead>
                {% for item in cart %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ item.product }}</td>
                        <td>{{ item.quantity }} کیلوگرم</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.total_price|three_digits_currency }}</td>
                        <td><a href="{% url 'cart_remove' item.product.id %}"><i class="bi bi-trash-fill"></i></a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>قیمت کل:</td>
                    <td colspan="4"></td>
                    <td>{{ cart.get_total_price|three_digits_currency }}</td>
                </tr>
                </tbody>
            </table>

            <a type="submit" href="{% url 'order_create' %}" class="btn btn-success">نهایی کردن سفارش</a>
        </div>
        {% else %}
        <div class="container">
        <p class="alert alert-warning font" dir="rtl">سبد خرید شما خالی است.</p>
        </div>
    {% endif %}
    <br>
{% endblock %}