{% extends 'shared/_layout.html' %}

{% block title %}پرداخت{% endblock %}


{% block body %}
    <br>
    <div dir="rtl" class="container">
        <h3>نهایی کردن سفارش</h3>
        <p>قیمت کل: {{ order.get_total_price }}</p>
        <form method="post" action="{% url 'apply_coupon' order.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="تایید کد تخفیف" class="btn btn-success">
        </form>
        <br>
        <a href="{% url 'pay_order' order.id %}" class="btn btn-success">پرداخت</a>
    </div>
    <br>

{% endblock %}