{% extends 'shared/_layout.html' %}

{% block title %}درباره ی ما{% endblock %}

{% block body %}
    <section class="bg-success py-5" dir="rtl">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1 class="font">درباره ی ما</h1>
                    <p class="font">به سوغات سرای نجفی خوش آمدید! در این فروشگاه، ما به کیفیت و طعم
                        محصولات خود اهمیت ویژه‌ای می‌دهیم. هر یک از محصولات ما با دقت انتخاب شده و از بهترین مزارع
                        تهیه می‌شوند. ما به دنبال آن هستیم که با ارائه محصولات طبیعی و ارگانیک، سلامتی و خوشحالی را
                        به زندگی شما اضافه کنیم. <br>با تشکر از انتخاب شما <br>مدیریت فروشگاه شهریار نجفی</p>
                </div>
                <div class="col-md-4">
                    <img src="/static/img/Gif-earth.gif" class="size" alt="سوغات سرای نجفی">
                </div>
            </div>
        </div>
    </section>

    <section class="container py-5">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1 font">خدمات فروشگاه ما</h1>
                <p class="font">امکاناتی که با خرید از فروشگاه ما میتوانید از آن بهره مند شوید</p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                    <h2 class="h5 mt-4 text-center font">ارسال به سراسر کشور</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                    <h2 class="h5 mt-4 text-center font">خدمات پس از فروش</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                    <h2 class="h5 mt-4 text-center font">قیمت مناسب</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                    <h2 class="h5 mt-4 text-center font">سرویس 24 ساعته</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}